body{
    font-family: Roboto Slab;
}

.first-fieldset{
    max-width:750px;
    min-width:300px;
    width:700px;
    margin:auto;
    margin-top:15px;
    text-align: center;
}

form{
    display:inline;
}

.line{
    border:none;
    border-bottom:2px solid black;
    margin-top:-10px;
}
.after{
    border:none;
    border-bottom:1px solid blue;
    padding:0;
    width:50px;
}

.Rebu-header{
    font-size:50px;
    margin:auto;
}

.input-text{
    text-align:left;
}


.submit-button{
    margin-top:30px;
}

.split-line{
    border:solid;
    margin:auto;
    width:.1px;;
    
    display:inline;

}

.grid-container{
    display:grid;
}


