body{
    font-family: Roboto Slab;
}

.first-fieldset{
    max-width:750px;
    min-width:300px;
    width:700px;
    margin:auto;
    margin-top:15px;
    text-align: center;
    max-height:600px;
}

form{
    display:inline;
}

.line{
    border:none;
    border-bottom:2px solid black;
    margin-top:-10px;
}
.after{
    border:none;
    border-bottom:1px solid blue;
    padding:0;
    width:50px;
}

.Rebu-header{
    font-size:50px;
    margin:auto;
}

.input-text{
    text-align:left;
}


.submit-button{
    margin-top:30px;
}

.split-line{
    border:solid;
    margin:auto;
    width:-10px;;
    height:100%;
    display:inline;

}
.split-line:last-of-type{
    
}

.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  100px 100px 100px 28%;
}

.grid-item{
    justify-content:center;
    margin-left:30%;
    
}

.company-boxes{
    margin-top:30%;
    margin-left:-25%;
    height:auto;
    width:100%;
    
}

.company-boxes-grid{
    display:grid;
    grid-template-columns:40% 1fr;
    max-width:70%;
    justify-content:center;
    padding:0;
    
}

.google-logo{
    max-width:85%;
    height:auto;
    
}
.github-logo{
    max-width:100%;
    height:auto;
    margin-left:-5%;
    margin-top:12%;
   
}
.outlook-logo{
    max-width:60%;
    height:auto;
    margin-top:12%;
    margin-left:15%;
}

