/* Add this CSS for profile icon positioning */
.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    flex-grow: 1; /* Allow the nav to grow and take available space */
}

.profile_icon {
    position: relative; /* Enable positioning */
}

.profile_icon a {
    position: absolute;
    top: 50%; /* Position at the vertical center */
    right: 0; /* Position at the right corner */
    transform: translateY(-50%); /* Center vertically */
    background-color: #EAE7DC;
}


.testt{
    color: black;
}
